/* My Skills */
.skills {}
.skills .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}
.skills .card {}
.skills .card:hover {
	background-color: var(--main-color);
	color: white;
	transform: none;
}
.skills .card i {
	color: white;
    font-size: 50px;
	color: var(--text-card);
}
.skills .card h3 {
	color: var(--text-color);
}
.skills .card:hover h3 {
	color: white;
}
@media (max-width: 700px) {
	.skills .container {
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	}
}
/* My Skills */