/* Footer */
footer {
	background-color: var(--section-color);
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 1.5em 2em;
}

footer p span {
	color: var(--main-color);
}

footer .icons a {
	color: white;
	padding: 10px;
}

footer .icons a:hover {
	color: #10a997;
}

@media (max-width: 767px) {
	footer {
		padding: 1em;
	}

	footer p {
		font-size: 0.8em;
	}

	footer .icons a {
		padding: 5px;
	}
}

/* Footer */